@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin card-gradient($color) {
  @include linear-gradient($color, darken($color, 10%))
}

@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin material-shadow($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}

@keyframes rainbow {
  0% {
    background: #ffff00;
  }
  20% {
    background: #ffcd00;
  }
  40% {
    background: #c3d74b;
    }
  60% {
    background: #c3d7d7;
  }
  80% {
    background: #ffc39b;
  }
  100% {
    background: #ffff00;
  }
}

body {
  font-family: 'Roboto Slab', serif;
}

.card-row, .card-row--header {
  width: 100%;
  clear: both;
  min-height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-bottom: 1px dashed #aaa;

  &:last-child {
    border-bottom: none;
  }
}

.card-row--header {
  min-height: 0;
  line-height: 30px;
  text-align: center;

  & > .card-column:last-child {
    border-right: none;
    width: 50px;
    cursor: pointer;
  }
}

.card-column {
  width: 250px;
  border-right: 1px solid #aaa;
}

.card-column--header {
  width: 30px;
  position: relative;
  min-width: 30px;

  span {
    transform: rotate(-90deg);
    transform-origin: left;
    display: inline-block;
    position: absolute;
    top: calc(100% - 20px);
    left: 40%;
    width: 80px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.card-card {
  @include card-gradient(white);
  @include material-shadow(1);
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
  transition: all 250ms;
  cursor: move;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:hover {
      @include material-shadow(2);
      position: relative;
      z-index: 42; //ensures that the shadow is over other cards
  }

  &.editing {
      @include material-shadow(3);
      position: relative;
      z-index: 42; //ensures that the shadow is over other cards
  }

  &__content {
    font-size: 14px;
    width: 100%;
    padding: 0;
    margin: 5px 0;

    p {
        margin: 0 0 5px;
    }

    h1 {
      font-size: 20px;
      margin: 0 0 5px;
      padding: 0;
    }

    h2 {
      font-size: 16px;
      margin: 0 0 2px;
      padding: 0;
    }

    h3 {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }

  &__content--editor {
    width: 100%;
    resize: vertical;
    font-size: 14px;
    padding: 0;
    margin: 5px 0 0;
    border: 0;
    display: block;
    color: inherit;
    background: transparent; //rgba(0,0,0,.5);
    font-family: inherit;
    outline: none;
  }

  &.red {
    @include card-gradient(#e55934);
    color: white;
  }

  &.green {
    @include card-gradient(#9bc53d);
  }

  &.blue {
    @include card-gradient(#5bc0eb);
  }

  &.yellow {
    @include card-gradient(#fde74c);
  }

  &.orange {
    @include card-gradient(#fa7921);
  }

  &.rainbow {
    animation: rainbow 5s infinite linear;
  }
}
