@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@mixin card-gradient($color) {
  @include linear-gradient($color, darken($color, 10%))
}

body {
  font-family: 'Roboto Slab', serif;
}

.card-row, .card-row--header {
  width: 100%;
  clear: both;
  min-height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-bottom: 1px dashed #aaa;

  &:last-child {
    border-bottom: none;
  }
}

.card-row--header {
  min-height: 0;
  line-height: 30px;
  text-align: center;
}

.card-column {
  min-width: 250px;
  border-right: 1px solid #aaa;
}

.card-column--header {
  width: 30px;
  position: relative;
  min-width: 30px;

  span {
    transform: rotate(-90deg);
    transform-origin: left;
    display: inline-block;
    position: absolute;
    top: calc(100% - 20px);
    left: 40%;
    width: 80px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.card-card {
  @include card-gradient(white);
  border-radius: 2px;
  box-shadow: 2px 2px 6px #aaa;
  padding: 5px;
  margin: 10px;

  h3 {
    margin: 0 0 5px;
    padding: 0;
  }

  &.red {
    @include card-gradient(#e55934);
    color: white;
  }

  &.green {
    @include card-gradient(#9bc53d);
  }

  &.blue {
    @include card-gradient(#5bc0eb);
  }

  &.yellow {
    @include card-gradient(#fde74c);
  }

  &.orange {
    @include card-gradient(#fa7921);
  }
}
