.card-row {
  width: 100%;
  clear: both;
  min-height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-bottom: 1px dashed #aaa;

  &:last-child {
    border-bottom: none;
  }
}

.card-column {
  width: 250px;
  border-right: 1px solid #aaa;

  &:last-child {
    border-right: none;
  }
}

.card-column--header {
  width: 30px;
  position: relative;

  span {
    transform: rotate(-90deg);
    transform-origin: left;
    display: inline-block;
    position: absolute;
    top: calc(100% - 20px);
    left: 40%;
    width: 80px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.card-card {
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #aaa;
  padding: 5px;
  margin: 10px;

  h3 {
    margin: 0 0 5px;
    padding: 0;
  }
}
